<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{contact.contact.first_name}} {{contact.contact.last_name}}">
  <ion-content class="padding">
    <div class="card contact-card">
      <div class="item item-divider">
        <div class="row">
          <div class="col col-25">
            <img src="http://www.gravatar.com/avatar/{{ contact.contact.email | gravatar }}">
          </div>
          <div class="col col-75">
            <h2>
              {{contact.contact.first_name}} {{contact.contact.last_name}}
            </h2>
            <h3>
              {{contact.contact.title}}
            </h3>
          </div>
        </div>
      </div>
      <div class="item item-text-wrap">
        <div class="button-bar bar-positive">
          <a class="button icon ion-android-call" ng-href="tel:{{contact.contact.phone}}"></a>
          <a class="button icon ion-email" ng-href="mailto:{{contact.contact.email}}"></a>
          <a class="button icon ion-social-linkedin" ng-href="{{contact.contact.linkedin}}"></a>
          <a class="button icon ion-social-twitter" ng-href="{{contact.contact.twitter}}"></a>
        </div>
      </div>
      <div class="list list-inset">
        <div class="item" ng-repeat="comment in comments">
          {{comment.comment}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
