<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div ng-repeat="contact in contacts" class="list card">
      <div class="item item-divider">{{contact.contact.first_name}} {{contact.contact.last_name}}</div>
      <div class="item item-body">
        <div class="button-bar">
          <a class="button icon-left ion-ios-telephone" ng-href="tel:{{contact.contact.phone}}">{{contact.contact.phone}}</a>
          <a class="button icon-left ion-ios-email" ng-href="mailto:{{contact.contact.email}}">{{contact.contact.email}}</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
