<ion-view view-title="Tasks">
  <ion-content>
    <task-list data-bucket="overdue" data-tasks="tasks.overdue">
    <task-list data-bucket="due_asap" data-tasks="tasks.due_asap">
    <task-list data-bucket="due_today" data-tasks="tasks.due_today">
    <task-list data-bucket="due_tomorrow" data-tasks="tasks.due_tomorrow">
    <task-list data-bucket="due_this_week" data-tasks="tasks.due_this_week">
    <task-list data-bucket="due_next_week" data-tasks="tasks.due_next_week">
    <task-list data-bucket="due_later" data-tasks="tasks.due_later">
  </ion-content>
</ion-view>
